@model IEnumerable<EM.Elsukov.DB.Models.Note>

@{

    Layout = null;
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="notes">
    @foreach (var item in Model)
    {
        <div class="note">
            <div class="note-header">
                @Html.ActionLink(" ", "Download", new { id = item.File?.Id ?? -1 }, new { @class = "note-attachment glyphicon glyphicon-paperclip" })
                <div class="note-title">@Html.DisplayFor(modelItem => item.Title)</div>
            </div>
            <div class="note-labels">
                @{
                    var tags = item.Tags.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
                    foreach (var tag in tags)
                    {
                        <span class="label label-info">@tag</span>
                    }
                }
            </div>
            <div class="note-info">
                <span class="text-center">@item.CreateDate.ToString("dd/MM/yy hh:mm")</span>
                @Html.ActionLink("Изменить", "EditNotePartial", new { id = item.Id }, new { @class = "text-right editNote" })
                @Html.ActionLink("Удалить", "deleteNote", new { id = item.Id }, new { @class = "text-left deleteNote", @name = item.Id })
            </div>
        </div>
                    }
</div>

<script type="text/javascript">

    $("#getNotes").hide();
    $(".note").hide();
    $(".note").fadeIn(600);
    $("#getNotes").show(225);

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".editNote").click(function (e) {
            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })

    $(function () {
        $.ajaxSetup({ cache: false });
        $('.deleteNote').click(function (e) {
            var del = this;
            e.preventDefault();
            $.get(this.href, function (result) {
                if (result) {
                    if (del.innerText == "Удалить") {
                        del.innerText = "Вернуть";
                        del.setAttribute("href", "/Notes/restoreNote/" + del.getAttribute("name"));
                    } else if (del.innerText == "Вернуть") {
                        del.innerText = "Удалить";
                        del.setAttribute("href", "/Notes/deleteNote/" + del.getAttribute("name"));
                    }
                }
            });
        });
    })

</script>
